<h1>Product Details</h1>
  <br>
  <form  >
    <div class="container8" fxLayout="row" fxLayoutGap="20px" >   
     
        <div class="containerz" fxLayout="column" fxLayoutGap="10px" fxFlex = "50">
  <mat-card fxLayoutGap="20px">
      
    <mat-dialog-content >
  
  
    <div class="container" fxLayout.md="row" fxLayout.xs="column"   fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Enter Product Name "  formControlName="badge_name"  >
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column"   fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Product Short Name</mat-label>
          <input matInput placeholder="Enter Short Name "  formControlName="badge_name"  >
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column"   fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Weight</mat-label>
          <input matInput placeholder="Enter name of User "  formControlName="badge_name"  >
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Weight Unit</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">Kg</mat-option>
            <mat-option value="Gold">Grams</mat-option>
            <mat-option value="Silver">Liter</mat-option>
            <mat-option value="Silver">Nos</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
 
    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Category</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">c1</mat-option>
            <mat-option value="Gold">c2</mat-option>
            <mat-option value="Silver">c3</mat-option>
            <mat-option value="Silver">c4</mat-option>
          </mat-select>
        </mat-form-field>
    </div>


    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Sub Category</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">sc1</mat-option>
            <mat-option value="Gold">sc2</mat-option>
            <mat-option value="Silver">sc3</mat-option>
            <mat-option value="Silver">sc4</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Sub Type</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">st1</mat-option>
            <mat-option value="Gold">sc2</mat-option>
            <mat-option value="Silver">sc3</mat-option>
            <mat-option value="Silver">sc4</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Kind</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">st1</mat-option>
            <mat-option value="Gold">sc2</mat-option>
            <mat-option value="Silver">sc3</mat-option>
            <mat-option value="Silver">sc4</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Sub Kind</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">st1</mat-option>
            <mat-option value="Gold">sc2</mat-option>
            <mat-option value="Silver">sc3</mat-option>
            <mat-option value="Silver">sc4</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    
    
</mat-dialog-content>
</mat-card>
</div>
<div class="containerz" fxLayout="column" fxLayoutGap="10px" fxFlex = "50" >
<mat-card >

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Distributor Type</mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">Agency</mat-option>
            <mat-option value="Gold">Purchaser</mat-option>
           </mat-select>
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Select Purchaser or Agency </mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">Agency</mat-option>
            <mat-option value="Gold">Purchaser</mat-option>
           
          </mat-select>
        </mat-form-field>
    </div>
    

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Select Manufacturer </mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">M1</mat-option>
            <mat-option value="Gold">M2</mat-option>
           
          </mat-select>
        </mat-form-field>
    </div>

    <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline"  fxFlex="100">
          <mat-label>Select Brand </mat-label>
          <mat-select  formControlName="badge_group" >
            <mat-option value="Platinum">B1</mat-option>
            <mat-option value="Gold">B2</mat-option>
           
          </mat-select>
        </mat-form-field>
    </div>


</mat-card>
</div>
</div>
</form>  

<br>

<h1>GST Tax Details</h1>
<br>
<form  >
    <div class="container8" fxLayout="row" fxLayoutGap="20px" >   
     
        <div class="containerz" fxLayout="column" fxLayoutGap="10px" fxFlex = "50">
  <mat-card fxLayoutGap="20px">
      
    <mat-dialog-content >
  
  
        <div class="container" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field appearance="outline"  fxFlex="100">
              <mat-label>GST (%) </mat-label>
              <mat-select  formControlName="badge_group" >
                <mat-option value="Platinum">0%</mat-option>
                <mat-option value="Gold">5%</mat-option>
                <mat-option value="Gold">12%</mat-option>
                <mat-option value="Gold">18%</mat-option>
                <mat-option value="Gold">28%</mat-option>
               
              </mat-select>
            </mat-form-field>
        </div> 

    
    
</mat-dialog-content>
</mat-card>
</div>
<div class="containerz" fxLayout="column" fxLayoutGap="10px" fxFlex = "50" >
<mat-card >

    
    <div class="container" fxLayout.md="row" fxLayout.xs="column"   fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>HSN Code</mat-label>
          <input matInput placeholder="Enter the HSN for the product "  formControlName="badge_name"  >
        </mat-form-field>
    </div>

</mat-card>
</div>
</div>
</form>  





<div
style="margin-top: 20px;"
fxLayout="column"

fxLayoutAlign="stretch end" >
<span>
  <button color="accent" style="margin-right: 10px;" mat-raised-button >
    Cancel
  </button>
<button color="primary" mat-raised-button >
  Register
</button>

</span>
</div>
